<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="William Hammond's personal site">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
        <title>{{ title }}</title>
    </head>
    <body>
        <header class="header">
            {% set navPages = collections.all | eleventyNavigation %}
            <ul class="nav">
                {%- for entry in navPages %}
                    <li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
                        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
                            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
                        </li>
                    </li>
                {%- endfor %}
            </ul>
        </header>

        <main>
            {{ content | safe}}
        </main>

        <footer class="social-footer">
            <ul class="social-footer-icons">
                <li class="social-footer-icon">
                    <a href="https://www.linkedin.com/in/williamhammondse/">
                        <i class="fa-brands fa-linkedin" aria-label="Linkedin"></i>
                    </a>
                </li>
                <li class="social-footer-icon">
                    <a href="https://github.com/williamhammond">
                        <i class="fa-brands fa-github" aria-label="GitHub"></i>
                    </a>
                </li>
                <li class="social-footer-icon">
                    <a href="https://itch.io/profile/williamhammond">
                        <i class="fa-brands fa-itch-io" aria-label="Itch.io"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </body>
</html>