body {
  font-family: sans-serif;
}

header {
  border-bottom: 1px dashed var(--color-gray-20);
}
header:after {
  content: "";
  display: table;
  clear: both;
}

table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

.nav {
  padding: 0;
  list-style: none;
  display: flex;
  margin-left: 1em;
}
.nav-item {
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

.social-footer-icons {
  padding: 0;
  list-style: none;
  display: flex;
}

.social-footer-icon {
  margin-right: 1em;
}

video {
  height: 100%;
  width: 100%;
}

img {
    max-width:100%;
    height:auto;
}